    button {
        background-color: rgba(33, 33, 195, 0.717);
        width: 20%;
        padding: 20px;
        font-style: normal;
        color: white;
        font-size: 20px;
    }
    
    .nav {
        display: flex;
        justify-content: space-between;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
        box-shadow: 5px 5px 10px #eee;
        margin-bottom: 3%;
    }
    
    div #image {
        margin-left: 8%;
        padding: 10px;
    }
    
    div #navData {
        margin-right: 5%;
        justify-content: space-between;
        color: #666;
    }